
<div class="d-flex flex-column justify-content-between align-items-stretch" style="min-height: 460px;">
  <div class="card">
    {{fields.field_imagem_.content}}
    <div class="card-body">
      <h6 class="mb-0 my-2 text-dark">      
        {# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16"><path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/> <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/> </svg> #}
        {{ fields.created.content }}
      </h6>
      <h5 class="text-black">{{fields.title.content}}</h5>
      <p>{{fields.body.content}}</p>
      {{fields.title.content}}
    </div>
  </div>
</div>

<script>
  // alinahmento
  $('.d-flex.flex-column.justify-content-between.align-items-stretch > .card > .card-body > a').html('Ver Curso ').append('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>')
  $('.views-col').addClass('col-lg-4')
  $('.views-col').removeClass('views-col')

  // data
  $('.mb-0.my-2.text-dark').css('text-transform', 'uppercase')
  $('.text-black > a').addClass('text-black')
  $('.card-body > a').addClass('btn btn-light text-primary')
  $('.card-body > a').css('font-weight', '600')
  
  // fita iamgem na div
  $('.card > a > img').css('width', '-webkit-fill-available')
</script>
