{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{# {% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.field_image.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %} #}
{# <div class="row text-center card-body" style="margin-left: 150px">
  <div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
    <h4 class="text-center text-dark mt-2 mb-0">{{fields.field_data_evento.content.value|date('M')}}<br></h4>
    <h3 class="text-center text-dark">
      <span style="font-weight: normal;">{{fields.field_data_evento_dia.content}}</span>
    </h3>
  </div>
  <div class="col-lg-5 col-sm-12 col-md-6 col-10" style="">
    <h5 class="text-dark mt-2">{{fields.field_cidade.content}}</h5>
    <h6 class="text-primary">
      <a href="#">Mais informações</a>
    </h6>
  </div>
</div>
</br> #}

{# <div class="card-group tamanhoEvento" >
<div class="card mb-3">
<div class="card-body py-2">
  <div class="row">
    <div class="col-md-12 px-0" style="">
      <div class="row mx-1 d-flex justify-content-center">
        <div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
          <h4 class="text-center text-dark mt-2 mb-0" style="text-transform: Uppercase !important;">{{fields.field_data_para_evento.content}}<br></h4>
        </div>
        <div class="col-lg-10  col-sm-12 col-md-6 col-10" style="">
          <h5 class="text-dark mt-2">{{fields.field_cidade_even.content}}</h5>
          <h6 class="text-primary">{{fields.field_cidade_even.content}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div> #}

<div class="card-group tamanhoEvento" >
<div class="card mb-3">
<div class="card-body py-2">
  <div class="row">
    <div class="col-md-12 px-0" style="">
      <div class="row mx-1 d-flex justify-content-center">
        <div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
          <h4 class="text-center" style="text-transform: Uppercase !important;">
            <label class="mesEvento" id="mesEvento">{{ fields.field_mes_evento.content }}</label>
            <label class="diaEvento" id="diaEvento">{{ fields.field_dia.content }}</label>
          </h4>
        </div>
        <div class="col-lg-10  col-sm-12 col-md-6 col-10" style="">
          <h5 class="text-dark mt-2">{{fields.field_cidade_s_.content}}</h5>
          <h6 class="text-primary">{{fields.title.content}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script>
$('.d-flex.flex-column.view.view-agenda.view-id-agenda.view-display-id-page_1 > .view-content > .grid.views-view-grid').addClass('container')
$('.d-flex.flex-column.view.view-agenda.view-id-agenda.view-display-id-page_1 > .view-content > .grid.views-view-grid').addClass('py-4')
$('.col-lg-10.col-sm-12.col-md-6.col-10 > .text-primary > a').html('Mais informações')

//agenda da home
$('#views-bootstrap-agenda-recente-block-1 > .row > .col-6').addClass('col-md-6')
$('#views-bootstrap-agenda-recente-block-1 > .row > .col-6').removeClass('col-6')

// corrige css do dia e mes
$('.mesEvento').addClass('text-center text-dark mt-2 mb-0')
$('.mesEvento').css('font-size', '1.2rem')

$('.diaEvento').addClass('text-center text-dark')
$('.diaEvento').css('font-size', '2.4rem')
</script>
